{{ $feature := .Resources.GetMatch "feature.*" }}
{{ if $feature }}
	{{ $s  := $feature.Resize  "300x" }}
	{{ $m  := $feature.Resize  "750x" }}
	{{ $l  := $feature.Resize "1140x" }}
	{{ $xl := $feature.Resize "1920x" }}
	<figure>
		<img
			srcset="{{ $s.RelPermalink }} 300w,
					{{ $m.RelPermalink }} 750w,
					{{ $l.RelPermalink }} 1140w,
					{{ $xl.RelPermalink }} 1920w"
			sizes="(min-width: 1170px) 1140px, calc(100vw - 30px)"
			src="{{ $l.RelPermalink }}"
			alt="{{ with .Params.feature_image_alt }}{{ . }}{{ else }}{{ $.Title }}{{ end }}">

		{{ if .Params.feature_image_caption }}
			<figcaption>{{ .Params.feature_image_caption | markdownify }}</figcaption>
		{{ else }}
			<figcaption>Image <a href="https://anthonynelzinsantos.com/">Anthony Nelzin-Santos</a> (<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr">CC BY-NC-SA 4.0</a>).</figcaption>
		{{ end }}
	</figure>
{{ end }}
